body{
    background-color: gray;
}

.container{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

button{
    background-color: brown;
    width: 250px;

}